<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<div class="topnav" id="myTopnav">
  <nav class="navbar fixed-top">
    <ul class="nav justify-content-ent">
      <div>
        <a routerLink="../about">About</a>
        <a routerLink="../education">Education</a>
        <a routerLink="../skills">Skills</a>
        <a routerLink="../achievements">Achievements</a>
        <a routerLink="../references">References</a>
      </div>
    </ul>
  </nav>
</div>

<router-outlet></router-outlet>
